<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>

    <link rel="stylesheet" href="/css/events.css" />

</head>
<body>
    <div class="container">
    <div class="events1">
        <h1 style="align-self: center">Edit EVENT FORM</h1>
        Event ID : <%= event._id %>
        <form
          action="/events/updateEvent"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="main-container">
            <div class="container h-fit-content py-3">
              <div class="row">
                <div class="col-md-7 px-3">
                  <div class="row">
                    <div class="form-group col-xs-8 col-md-6">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >Event Name</label
                      >
                      <input type="text" name="id" value="<%= event._id %>" hidden>
                      <input
                        type="text"
                        value="<%=event.title%>"
                        class="form-control"
                        id="name"
                        style="background-color: #d7dbdd"
                        name="title"
                      />
                    </div>
                    <div class="form-group col-xs-8 col-md-6">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >Venue</label
                      >
                      <input
                        type="text"
        
        value="<%= event.venue %>"
                        class="form-control"
                        id="venue"
                        style="background-color: #d7dbdd"
                        name="venue"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-xs-8 col-md-12">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >Description</label
                      >
                      <input
                        type="text"
                        value="<%= event.description %>"
                        class="form-control"
                        id="desctiption"
                        style="height: 60px; background-color: #d7dbdd"
                        id="name"
                        name="description"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-xs-8 col-md-6">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >Start Date</label
                      >
                      <input
                        type="date"
        
                        class="form-control"
                        id="date"
                        style="background-color: #d7dbdd"
                        name="date"
                      />
                    </div>
                    <div class="form-group col-xs-8 col-md-6">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >Duration</label
                      >
                      <input
                        type="number"
        
        value="<%= event.duration %>"
                        class="form-control"
                        id="duration"
                        style="background-color: #d7dbdd"
                        name="duration"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-xs-8 col-md-12">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >Registration link</label
                      >
                      <input
                        type="text"
                        value="<%= event.registrationLink %>"
                        class="form-control"
                        id="registration"
                        style="background-color: #d7dbdd"
                        name="registrationLink"
                      />
                    </div>
                  </div>
                  <div id="day-slots-row">
                    <!-- <% for (var i=1; i <=2;  i++ ) { %>
                    <div class="form-group col-xs-8 col-md-6 days">
                      <label for="day-${i+1}" class="control-label" style="float: left;">day-${i+1}</label>
                      <input type="date"  class="form-control" id="day-${i+1}" name="day"  style="background-color: #D7DBDD;">
                    </div>
                    <div class="form-group col-xs-8 col-md-6 slots" >
                      <label for="slot-${i+1}" class="control-label"  style="float: left;">Number of slots</label>
                      <input type="number"  class="form-control" id="slot-${i+1}" name="slots" style="background-color: #D7DBDD;">
                    </div>
                    
                    <% } %> -->
                  </div>
                  <script src="/js/dynamicfields.js"></script>
                </div>
                <div class="col-md-5" style="text-align: center">
                  <label>Current Image:</label>
                  <div class="h-75 w-auto bg-light">
                    <img 
                      class="image-fluid"
                      src="data:image/<%=event.image.contentType%>;base64,<%=event.image.toString('base64')%>"
                  />
                  </div>
                  <!-- <div class="photo-box">
                    <div class="icon">
                      <i class="fas fa-cloud-upload-alt"></i>
                    </div>
                    <header>Drag & Drop to Upload File</header>
                    <span>OR</span>
                    <button type="button">Browse File</button> -->
                    <input type="file" id="removeValue" name="image"  />
                    <script src="/js/dragdrop.js"></script>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="row justify-content-center px-3"
              style="margin-top: 20px; margin-bottom: 10px"
            >
              <button
                type="submit"
                class="btn btn-dark btn1"
                style="border-radius: 20px; width: 110px"
              >
                Edit Event
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
        
        
        
        
        
    </body>
</html>