<!DOCTYPE html>
<html lang="en">
<head>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
  crossorigin="anonymous"
/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="css/navigationbar.css">
  
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/events.css" />

</head>
<body>
    <div class="container">
    <div class="events1">
        <h1 style="align-self: center" class="pgtitle">Edit EVENT FORM</h1>
        Event ID : <%= event._id %><br><br>
        <form
          action="/events/updateEvent"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="main-container editcont">
           
              <div class="row firstrow">
                <div class="col-md-7 px-4">
                  <div class="row">
                    <div class="form-group plo col-xs-8 col-md-6">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >Event Name</label
                      >
                      <input type="text" name="id" value="<%= event._id %>" hidden>
                      <input
                        type="text"
                        value="<%=event.title%>"
                        class="form-control bg-dark text-light"
                        id="name"
                        
                        name="title"
                      />
                    </div>
                    <div class="form-group plo col-xs-8 col-md-6">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >Venue</label
                      >
                      <input
                        type="text"
        
        value="<%= event.venue %>"
                        class="form-control"
                        id="venue"
                      
                        name="venue"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group plo col-xs-8 col-md-12">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >Description</label
                      >
                      <input
                        type="text"
                        value="<%= event.description %>"
                        class="form-control"
                        id="desctiption"
                        style="height: 60px; background-color: #d7dbdd"
                        id="name"
                        name="description"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group plo col-xs-8 col-md-6">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >Start Date</label
                      >
                      <input
                        type="date"
        
                        class="form-control"
                        id="date"
                     
                        name="date"
                      />
                    </div>
                    <div class="form-group plo col-xs-8 col-md-6">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >Duration</label
                      >
                      <input
                        type="number"
        
        value="<%= event.duration %>"
                        class="form-control"
                        id="duration"
                        
                        name="duration"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group plo col-xs-8 col-md-12">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >Registration link</label
                      >
                      <input
                        type="url"
                        value="<%= event.registrationLink %>"
                        class="form-control"
                        id="registration"
                       
                        name="registrationLink"
                      />
                    </div>
                  </div>
                  <div id="day-slots-row">
                    <!-- <% for (var i=1; i <=2;  i++ ) { %>
                    <div class="form-group col-xs-8 col-md-6 days">
                      <label for="day-${i+1}" class="control-label" style="float: left;">day-${i+1}</label>
                      <input type="date"  class="form-control" id="day-${i+1}" name="day"  style="background-color: #D7DBDD;">
                    </div>
                    <div class="form-group col-xs-8 col-md-6 slots" >
                      <label for="slot-${i+1}" class="control-label"  style="float: left;">Number of slots</label>
                      <input type="number"  class="form-control" id="slot-${i+1}" name="slots" style="background-color: #D7DBDD;">
                    </div>
                    
                    <% } %> -->
                  </div>
                  <script src="/js/dynamicfields.js"></script>
                </div>
                <div class="col-md-5" style="text-align: center;    margin-bottom: 1rem;">
                  <input name="image" hidden id="eventimg" type="file" value="<%=event.image%>"  />
                 
                  <div class="photo-box editbox" > 
                    <img
                    class="img"
                   
                    height="270px"
                    src="data:image/<%=event.image.contentType%>;base64,<%=event.image.data.toString('base64')%>"
                    alt="<%=event.title%>"
                  />
                    <p class="pt-1">Drag & Drop to Upload Image</p>
                    <p>Or Click to Browse</p>
                    
                    
                  </div>
                
                </div>
                <!-- <div class="col-md-5 plro" style="text-align: center">
                  <label>Current Image:</label>
                  <div class="h-75 w-auto bg-light">
                    <img
                    class="img"
                    height="270px"
                    src="data:image/<%=event.image.contentType%>;base64,<%=event.image.data.toString('base64')%>"
                    alt="<%=event.title%>"
                  />
                  </div>
                  
                    <input type="file" id="removeValue" class="btn btn-dark" name="image" value="<%=event.image%>"  />
                    <script src="/js/dragdrop.js"></script>
                  </div> -->
                </div>
              <div class="row secrow">
                <button
                type="submit"
                class="btn btn-dark  submitbtn"
              >
                Edit Event
              </button>
              </div>
             
              
            
            </div>
            
          </div>
        </form>
      </div>
    </div>
        
        
        
        
        
    </body>
    <script src="/js/dragdrop.js"></script>
    <%- include("../partials/scripts") %>
</html>