<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/events.css" />
  </head>
  <body>
    <!--navigation bar-->
    <script src="/js/navigationbar.js"></script>
    <div class="event">
      <!--start Event form-->
      <div class="events1">
        <h1 style="align-self: center">Edit EVENT FORM</h1>
        <form
          action="/events/newEvent"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="main-container">
            <div class="container py-3">
              <div class="row">
                <div class="col-md-7 px-3">
                  <div class="row">
                    <div class="form-group col-xs-8 col-md-6">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >Event Name</label
                      >
                      <input
                        type="text"
                        value=""
                        class="form-control"
                        id="name"
                        style="background-color: #d7dbdd"
                        name="title"
                      />
                    </div>
                    <div class="form-group col-xs-8 col-md-6">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >Venue</label
                      >
                      <input
                        type="text"
                        value=""
                        class="form-control"
                        id="venue"
                        style="background-color: #d7dbdd"
                        name="venue"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-xs-8 col-md-12">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >Description</label
                      >
                      <input
                        type="text"
                        value=""
                        class="form-control"
                        id="desctiption"
                        style="height: 60px; background-color: #d7dbdd"
                        id="name"
                        name="description"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-xs-8 col-md-6">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >Start Date</label
                      >
                      <input
                        type="date"
                        value=""
                        class="form-control"
                        id="date"
                        style="background-color: #d7dbdd"
                        name="date"
                      />
                    </div>
                    <div class="form-group col-xs-8 col-md-6">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >Duration</label
                      >
                      <input
                        type="number"
                        value=""
                        class="form-control"
                        id="duration"
                        style="background-color: #d7dbdd"
                        name="duration"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-xs-8 col-md-12">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >Registration link</label
                      >
                      <input
                        type="text"
                        value=""
                        class="form-control"
                        id="registration"
                        style="background-color: #d7dbdd"
                        name="registrationLink"
                      />
                    </div>
                  </div>
                  <div id="day-slots-row">
                    <!-- <% for (var i=1; i <=2;  i++ ) { %>
                    <div class="form-group col-xs-8 col-md-6 days">
                      <label for="day-${i+1}" class="control-label" style="float: left;">day-${i+1}</label>
                      <input type="date"  class="form-control" id="day-${i+1}" name="day"  style="background-color: #D7DBDD;">
                    </div>
                    <div class="form-group col-xs-8 col-md-6 slots" >
                      <label for="slot-${i+1}" class="control-label"  style="float: left;">Number of slots</label>
                      <input type="number"  class="form-control" id="slot-${i+1}" name="slots" style="background-color: #D7DBDD;">
                    </div>
                    
                    <% } %> -->
                  </div>
                  <script src="/js/dynamicfields.js"></script>
                </div>
                <div class="col-md-5" style="text-align: center">
                  <!-- <div class="photo-box">
                    <div class="icon">
                      <i class="fas fa-cloud-upload-alt"></i>
                    </div>
                    <header>Drag & Drop to Upload File</header>
                    <span>OR</span>
                    <button type="button">Browse File</button> -->
                    <input name="image" type="file"  />
                    <!-- <script src="/js/dragdrop.js"></script> -->
                  </div>
                </div>
              </div>
            </div>
            <div
              class="row justify-content-center px-3"
              style="margin-top: 20px; margin-bottom: 10px"
            >
              <button
                type="submit"
                class="btn btn-dark btn1"
                style="border-radius: 20px; width: 110px"
              >
                ADD EVENT
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="events">
        <h1>EVENTS</h1>
        <ul class="ml-5">
          <% if(Events) { %>

            <% Events.forEach(event=>{ %>
            <li class="card">
              <div class="container py-3">
                <div class="row">
                  <div class="col-md-7 px-3">
                    <div class="card-block px-6">
                      <h4 class="card-title"><%= event.title %></h4>
                      <div class="row">
                        <div class="col-sm-6 col-md-6 venue">
                          <p><%=event.venue%></p>
                        </div>
                        <div class="col-sm-6 col-md-6 status">
                          <p><%=event.status%></p>
                        </div>
                      </div>

                      <p class="card-text"><%=event.description%></p>
                      <div class="d-flex flex-row">
                        <i class="fa fa-calendar" style="font-size: 25px"></i>
                        <p style="padding-left: 7px; font-size: large">
                          <%=event.date%>
                        </p>
                      </div>
                      <div class="d-flex flex-row">
                        <a target="_blank" href="<%= event.registrationLink%>">
                          <button
                            type="button"
                            class="btn btn-primary"
                            style="margin: 5px"
                          >
                            Register
                          </button>
                        </a>
                        <button
                          type="submit"
                          class="btn btn-danger"
                          style="margin: 5px"
                          onclick="deleteEvent(`<%= event._id %>`)"
                        >
                          Delete
                        </button>

                        <button
                          type="button"
                          class="btn btn-info"
                          style="margin: 5px"
                          onclick="getEdit('<%=event._id%>')"
                        >
                          Edit
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5" style="text-align: center">
                    <img
                    class="img"
                    height="300px"
                    src="data:image/<%=event.image.contentType%>;base64,<%=event.image.data.toString('base64')%>"
                    alt="<%=event.title%>"
                  />
                  </div>
                </div>
              </div>
            </li>
            <br />
            <% }) %>
          <% } %>
        </ul>
      </div>
    </div>
    <%- include("../partials/scripts") %>
    <!-- <script>
      window.addEventListener("load", (event) => {
        document.getElementById("removeValue").style.color = "transparent";
        document.getElementById("removeValue").style.display = "block";
        document.getElementById("removeValue").style.marginLeft = "auto";
        document.getElementById("removeValue").style.marginRight = "auto";
      });
    </script> -->
    <script>
      const deleteEvent = async (_id) => {
        const id = { id: _id };
        let res = await fetch("/events/deleteEvent", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(id),
        });
        console.log(res);
        location.reload();
      };
    </script>
    <script>
      const getEdit=(id)=>{
        window.location.href = `http://localhost:5000/editEvent/${id}`;
      }
    </script>
  </body>
</html>
