<!DOCTYPE html>
<html lang="en">
  <head>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
    crossorigin="anonymous"
  />
   
    <link rel="stylesheet" href="/css/navigationbar.css">
    <link rel="stylesheet" href="/css/events.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f79e5c4560.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!--navigation bar-->
    <script src="/js/navigationbar.js"></script>
    <div class="event">
      <!--start Event form-->
      <div class="events1">
        <h1 class="mb-4 mt-3 text-dark pgtitle">Add Event Form</h1>
        <form
          action="/events/newEvent"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="main-container">
            <div class="container">
              <div class="row">
                <div class="col-md-7 px-3">
                  <div class="row">
                    <div class="form-group col-xs-8 col-md-6">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >Event Name</label
                      >
                      <input
                        type="text"
                        value=""
                        class="form-control bg-dark text-light"
                        id="name"
                        name="title"
                        required
                        placeholder="eg. ML Fest"
                      />
                    </div>
                    <div class="form-group col-xs-8 col-md-6">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >Venue</label
                      >
                      <input
                        type="text"
                        value=""
                        class="form-control"
                        id="venue"
                        name="venue"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-xs-8 col-md-12">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >Description</label
                      >
                      <textarea
                        type="text"
                        value=""
                        class="form-control "
                        id="desctiption"
                        style="height: 60px"
                        id="name"
                        name="description"

                        placeholder="Brief the outlines of the event."
                      ></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-xs-8 col-md-6">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >Start Date</label
                      >
                      <input
                        type="date"
                        value=""
                        class="form-control "
                        id="date"
                        name="date"
                      />
                    </div>
                    <div class="form-group col-xs-8 col-md-6">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >End Date</label
                      >
                      <input
                        type="date"
                        value=""
                        class="form-control "
                        id="end-date"
                        name="endDate"
                      
                      />
                    </div>
                    <div class="form-group col-xs-8 col-md-6">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >Duration</label
                      >
                      <input
                        type="number"
                        value=""
                        class="form-control "
                        id="duration"
                        name="duration"
                      
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-xs-8 col-md-12">
                      <label
                        for="name"
                        class="control-label"
                        style="float: left"
                        >Registration link</label
                      >
                      <input
                        type="url"
                        value=""
                        class="form-control"
                        id="registration"
                        name="registrationLink"
                      />
                    </div>
                  </div>
                  <div id="day-slots-row">
                    <!-- <% for (var i=1; i <=2;  i++ ) { %>
                    <div class="form-group col-xs-8 col-md-6 days">
                      <label for="day-${i+1}" class="control-label" style="float: left;">day-${i+1}</label>
                      <input type="date"  class="form-control" id="day-${i+1}" name="day"  style="background-color: #D7DBDD;">
                    </div>
                    <div class="form-group col-xs-8 col-md-6 slots" >
                      <label for="slot-${i+1}" class="control-label"  style="float: left;">Number of slots</label>
                      <input type="number"  class="form-control" id="slot-${i+1}" name="slots" style="background-color: #D7DBDD;">
                    </div>
                    
                    <% } %> -->
                  </div>
                  <script src="/js/dynamicfields.js"></script>
                </div>
                <div class="col-md-5" style="text-align: center">
                  <input name="image" hidden id="eventimg" type="file"  />
                  <div class="photo-box" >
                    <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                    <p>Drag & Drop to Upload Image</p>
                    <p>Or Click to Browse</p>
                    <p id="chosenimg"></p>
                    
                  </div>
                
                </div>
              </div>
            </div>
            <div
              class="row justify-content-center px-3"
              style="margin-top: 0px; margin-bottom: 20px"
            >
              <button
              id="submitbtn" disabled
                type="submit"
                class="btn btn-dark btn1 submitbtn"
              >
                Add Event
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="events">
        <h1 class="pgtitle">Events</h1>
        <ul class="ml-5">
          <% if(Events) { %>
            <% Events.forEach(event=>{ %>
            <li class="card">
              <div class="container py-3">
                <div class="row">
                  <div class="col-md-7 px-0">
                    <div class="card-block px-6 ">
                      <h4 class="card-title evnttitle "><%= event.title %></h4>
                      <div class="row">
                        <div class="col-sm-6 col-md-6 venue">
                          <p><%=event.venue%></p>
                        </div>
                        <div class="col-sm-6 col-md-6 status">
                          <p class="text-light bg-dark">Upcoming</p>
                        </div>
                      </div>
                      <p class="card-text mt-2" style="padding-left: 7px; font-size: small"><%=event.description%></p>
                      <div class="d-flex flex-row ml-2 mb-1">
                        <i class="fa fa-calendar" style="font-size: 25px"></i>
                        <p style="padding-left: 7px;margin-bottom: 0px; font-size: medium">
                          Start Date: <%=event.date%>
                        </p>
                      </div>
                      <div class="d-flex flex-row ml-2 mb-1">
                        <i class="fa fa-calendar" style="font-size: 25px"></i>
                        <p style="padding-left: 7px;margin-bottom: 0px; font-size: medium">
                          End Date: <%=event.endDate%>
                        </p>
                      </div>
                      <div>
                        <p>Total Days: <%=event.duration%> </p>
                      </div>
                      <p>Schedule
                      </p>
                      <!-- <div class="d-flex flex-wrap"> -->
                        <div>
                        
                        <% if(event.schedule) { %>
                          <% event.schedule.forEach((day,index)=>{ %>
                            <!-- <div class="m-4 bg-secondary rounded p-2"> -->
                              <div>
                              <p style="font-size: small">
                                Day <%=index+1%> : <%=day.date%>
                              </p>
                              <ul>
                                <% if(day.slots) { %>
                                  <% day.slots.forEach((slot,key)=>{ %>
                                    <div>
                                      <p style="font-size: small">Slot <%=key+1%>: <%=slot.start%> - <%=slot.end%> </p>
                                    </div>
                                    <% }) %>
                                    <% } %>
                                  </ul>
                                </div>
                                  <% }) %>
                                  <% } %>
                      </div>
                      <div class="d-flex flex-row">
                        <a target="_blank" href="<%= event.registrationLink%>">
                          <button
                            type="button"
                            class="btn btn-primary"
                            style="margin: 5px"
                          >
                            Register
                          </button>
                        </a>
                        <button
                          type="submit"
                          class="btn btn-danger"
                          style="margin: 5px"
                          onclick="deleteEvent(`<%= event._id %>`)"
                        >
                          Delete
                        </button>

                        <button
                          type="button"
                          class="btn btn-info"
                          style="margin: 5px"
                          onclick="getEdit('<%=event._id%>')"
                        >
                          Edit
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5" style="text-align: center">
                    <img
                    class="img"
                    src="data:image/<%=event.image.contentType%>;base64,<%=event.image.data.toString('base64')%>"
                    alt="<%=event.title%>"
                  />
                  </div>
                </div>
              </div>
            </li>
            <br />
            <% }) %>
          <% } %>
        </ul>
      </div>
    </div>
    <%- include("../partials/scripts") %>
    <!-- <script>
      window.addEventListener("load", (event) => {
        document.getElementById("removeValue").style.color = "transparent";
        document.getElementById("removeValue").style.display = "block";
        document.getElementById("removeValue").style.marginLeft = "auto";
        document.getElementById("removeValue").style.marginRight = "auto";
      });
    </script> -->
    <script>
      const deleteEvent = async (_id) => {
        const id = { id: _id };
        let res = await fetch("/events/deleteEvent", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(id),
        });
        console.log(res);
        location.reload();
      };
    </script>
    <script>
      const getEdit=(id)=>{
        window.location.href = `editEvent/${id}`;
      }
    </script>
   <script>
     let titles=document.querySelectorAll(".evnttitle")
     let clrs=["#e94334","#5372be","#f8bb15","#0a9c57"],clrcnt=0;
     titles.forEach((ttl)=>{
       ttl.style.backgroundColor=clrs[clrcnt%4]
       clrcnt++
     })
   </script>
  </body>
  <script src="/js/dragdrop.js"></script>
</html>
