<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %> 
    <link rel="stylesheet" href="css/projects.css">
</head>
<body>
    <body>

        <div class="mx-auto d-flex">
              <div>
                    <script src="js/navigationbar.js"></script>
              </div>
              <div class="projectform">
                    <div>

                         
                               

                          <form method="POST", action="/team/newMember" enctype="multipart/form-data">
                                <h1 class="text-center">Teams</h1>

                                <div class="form mx-auto">
                                      <div class="row">
                                            <div class="col">
                                                  <div class="row resp">
                                                        <div class="col projtitle">
                                                              <label for="" class="form-label">First Name </label>
                                                              <input type="text" name="firstName" class="form-control " required
                                                                    placeholder="">
                                                        </div>
                                                        <div class="col domain">
                                                              <label for="" class="form-label">Last Name</label>
                                                              <input type="text" name="lastName" class="form-control " required
                                                                    placeholder="">
  
                                                        </div>
                                                  </div>
                                                  <div class="row">
                                                        <div class="column">
                                                              <div class="row resp">
                                                                    <div class="col projtitle">
                                                                          <label for=""
                                                                                class="form-label mt-3">GitHub</label>
                                                                          <input type="text" name="githubProfile" class="form-control "
                                                                                required placeholder="">
  
                                                                    </div>
                                                                    <div class="col domain">
                                                                          <label for=""
                                                                                class="form-label mt-3">Email</label>
                                                                          <input type="text" name="email" required class="form-control"
                                                                                placeholder="">
                                                                    </div>
  
                                                              </div>
                                                        </div>
                                                  </div>
                                                  <div class="row">
                                                        <div class="col">
  
                                                              <div class="row resp">
                                                                    <div class="col domain">
                                                                          <label for=""
                                                                                class="form-label mt-3">Contact</label>
                                                                          <input type="text" name="mobileNumber" required class="form-control"
                                                                                placeholder="">
                                                                    </div>
  
                                                                    <div class="col-sm-6 projtitle">
                                                                          <label for=""
                                                                                class="form-label mt-3">Role</label>
                                                                          <div class="dropdown">
  
                                                                                <select id="selectOption" name="role"
                                                                                      class="form-control" required
                                                                                      data-error="Please select ">
                                                                                      <option>-- Select your Role --</option>
                                                                                      <option value="Lead">Lead</option>
                                                                                      <option>------------</option>
                                                                                      <option value="DSC Manager">DSC Manager</option>
                                                                                      <option>------------</option>
                                                                                      <option value="Web Head">Web Head</option>
                                                                                      <option value="Android Head">Android Head</option>
                                                                                      <option value="Flutter Head">Flutter Head</option>
                                                                                      <option value="Head of Media">Head of Media</option>
                                                                                      <option value="Management Head">Management Head</option>
                                                                                      <option value="Social Media Head">Social Media Head</option>
                                                                                      <option value="Head of Content">Head of Content</option>
                                                                                      <option value="Multimedia Head">Multimedia Head</option>
                                                                                      <option >------------</option>
                                                                                      <option value="Web Manager<">Web Manager</option>
                                                                                      <option value="Android Manager">Android Manager</option>
                                                                                      <option value="Flutter Manager">Flutter Manager</option>
                                                                                      <option >------------</option>
                                                                                      <option value="Web Developer">Web Developer</option>
                                                                                      <option value="Android Developer">Android Developer</option>
                                                                                      <option value="Flutter Developer">Flutter Developer</option>
                                                                                      <option value="Multimedia Coordinator">Multimedia Coordinator</option>
                                                                                      <option value="Content Writer">Content Writer</option>
                                                                                      <option value="Event Manager">Event Manager</option>
                                                                                </select>
  
  
                                                                                <!-- refer projects.js for action on selecting the domain -->
  
                                                                          </div>
  
                                                                    </div>
  
                                                              </div>
  
                                                        </div>
                                                  </div>
                                                  <div class="row resp">
                                                        <div class="col projtitle">
                                                              <label for="" class="form-label mt-3">LinkedIn:</label>
                                                              <input type="text" name="linkedInProfile" class="form-control " required
                                                                    placeholder="">
                                                        </div>
                                                  </div>
                                            </div>
  
                                            <div class="col-4 uploaddiv">
                                                  
                                                <input  id="imgupload" type="file" name="image"/>
                                                <p id="chosenfile" class="text-muted">No file Chosen</p>
                                                  <!-- <div class="demoimage h-100 text-center d-table" id="demoimg"
                                                        onclick="imgupload();">
                                                        <div class="uploadimg align-middle d-table-cell">
                                                              <img src="images/upload.png" width="60px"
                                                                    height="60px" alt="">
                                                              <p>Upload</p>
  
  
                                                              <p class="txtmuted" style="font-size: 0.8rem;">Drag & Drop
                                                                    or Click to choose</p>
  
                                                        </div>
                                                  </div> -->
                                            </div>
                                      </div>
                                      <div class="row mt-5 d-flex justify-content-center">
                                            <button class="btn btn-dark addproj mb-2" type="submit">Add Member</button>
                                      </div>
                                </div>
                          </form>
                    </div>
        </div>
      </div>

       <!-- Table component for team members -->
       <div class="projectstable mt-5">
        <div class="tablesp">
        <table class="table-teams table table-bordered  table-striped">
            <thead class="thead table-dark">
              <tr>
                <th style="width: 1.5%;">#</th>
                <th style="width:5%;">Name</th>
                <th style="width:5%;">Email</th>
                <th style="width:5%;">Mobile No.</th>
                <th style="width:5%;">Role</th>
                <th style="width:1%;">GitHub</th>
                <th style="width:0.5%;">LinkedIn</th>
                <th style="width:1%;">Controls</th>
              </tr>
            </thead>
            <tbody>
                  <% allMembers.forEach((member, idx) => { %>
                        <tr>
                              <td><%= idx+1%></td>
                              <td><%= member.firstName + " " + member.lastName%></td>
                              <td><%= member.email%></td>
                              <td><%= member.mobileNumber%></td>
                              <td><%= member.role%></td>
                              <td><a href="<%= member.githubProfile%>" class="btn btn-link">Click Here</a></td>
                              <td><a href="<%= member.linkedInProfile%>" class="btn btn-link">Click Here</a></td>
                              <td class="tbuttons">
                              <div class="t-buttons ">
                              <button class="btn" onclick="editTeam(`<%= member._id%>`)" ><img src="images/pencil.png"></button>
                              <button class="btn" onClick="handleDelete(`<%= member._id%>`)"><img src="images/trashbin.png"></button>
                              </div>
                              </td>
                              
                        </tr>
                  <%}); %>
                
            </tbody>
        </table>
    </div>
    </div>
      <script>
            const handleDelete = async(_id)=>{  
                  const id = {id:_id};
                  let res = await fetch('/team/deleteMember',{
                        method: 'POST',
                        headers: {
                        'Content-Type': 'application/json',
                        },
                        body:JSON.stringify(id),
                        })
                  console.log(res)
                  location.reload();
            }

            const editTeam = (id)=>{
                  window.location.href = `http://localhost:8000/editMember/${id}`;

            }
      </script> 
        <script src="js/projects.js"></script>
  
    <%- include("../partials/scripts") %> 
    
</body>
</html>